html {
  background-color: #ffffff;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "ptsans";
  src: local("PT_Sans-Web-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ptsans";
  src: local("PT_Sans-Web-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.main-page {
  position: relative;
  min-width: 320px;
  width: auto;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
}

li,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font-family: "ptsans", "Arial", sans-serif;
}

.main-nav__menu {
  background-color: #82b3d3;
}

.main-nav--closed {
  display: none;
}

.main-nav--opened {
  display: block;
}

.main-nav__item {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 0 rgba(225, 225, 225, 0.4), 0 1px 0 0 #81b3d2;
  box-shadow: 0 1px 0 0 rgba(225, 225, 225, 0.4), 0 1px 0 0 #81b3d2;
}

.main-nav__item:last-child {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -1px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -1px 4px 0px rgba(0, 0, 0, 0.3);
}

.main-nav__item:hover,
.main-nav__item:focus,
.main-nav__item:focus:hover {
  background-color: #669ec0;
}

.main-nav__item:active {
  background-color: #5496bd;
}

.main-nav__item--active:active {
  background-color: #669ec0;
}

.main-nav__item a {
  display: block;
  padding: 7px 6.25% 8px 6.25%;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__item a:link,
.main-nav__item a:visited {
  color: #ffffff;
  text-decoration: none;
}

.main-nav__item a:hover {
  color: #ffffff;
  text-decoration: none;
}

.main-nav__item a:active {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.main-nav__item .main-nav__link--active {
  color: #ffffff;
  cursor: default;
}

.main-nav__item .main-nav__link--active:active {
  color: #ffffff;
}

.main-nav__opener {
  position: relative;
  min-height: 56px;
}

.main-nav__logo-wrapper {
  position: relative;
  display: block;
  width: 102px;
  margin: 0 auto;
}

.main-nav__logo {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-nav__open-button {
  content: "";
  position: absolute;
  top: 17px;
  right: 21px;
  width: 23px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav__open-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #81b3d2;
  -webkit-box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

.main-nav__close-button {
  content: "";
  position: absolute;
  top: 19px;
  right: 22px;
  width: 23px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav__close-button::before,
.main-nav__close-button::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -4px;
  width: 27px;
  height: 5px;
  background-color: #ffffff;
}

.main-nav__close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-nav__close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #ffffff;
  background-size: cover;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.header--index {
  min-height: 390px;
}

.header--index::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/bg-intro-triangle-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 57px;
}

.header--other {
  min-height: 159px;
  background-position: left bottom;
}

.header--other::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/bg-intro-triangle-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 57px;
}

.header__text {
  margin: 0 auto;
}

.header__text--index {
  width: 282px;
  height: 390px;
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  background-position: center 90px;
  background-size: 282px 214px;
}

.header__text--other {
  width: 229px;
  height: 159px;
  background-image: url("../img/text-sedona.svg");
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 229px 39px;
}

.main-title {
  position: relative;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: -17px;
  right: 0;
  width: 100%;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100% 37px;
}

.main-title__name {
  margin: 0 auto;
  padding: 39px 6.875% 24px 6.875%;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.main-title__desc {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.main-title__desc--index {
  padding: 2px 6.875% 27px 6.875%;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.main-title__desc--media {
  padding: 0 6.25% 26px 6.25%;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.main-title__desc--form {
  padding: 0 6.25% 18px 6.25%;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.advantages__desc {
  padding: 27px 20px 0 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.advantages > .advantages__reasons:nth-child(1) .advantages__desc {
  padding-top: 56px;
}

.advantages > .advantages__reasons:nth-child(3) .advantages__desc {
  padding-top: 38px;
}

.advantages__reasons-wrapper .advantages__reasons .advantages__desc {
  background-color: #eeeeee;
}

.advantages__title {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.advantages__total {
  padding: 9px 0 15px 0;
  font-weight: 440;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.advantages__info {
  padding: 0 0 40px 0;
  border-bottom: none;
  font-weight: 440;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.advantages__reasons-wrapper .advantages__info {
  padding: 0 10px 27px 10px;
  border-bottom: 1px solid #d6d6d6;
  color: #333333;
}

.advantages__reasons-wrapper .advantages__reasons:last-child .advantages__info {
  border-bottom: none;
}

.advantages__reasons-wrapper .advantages__title,
.advantages__reasons-wrapper .advantages__total {
  color: #333333;
}

.advantages__photo-wrapper {
  height: 260px;
  overflow: hidden;
  background-color: #ffffff;
}

.advantages__reasons:nth-child(3) .advantages__photo-wrapper {
  background-color: #eeeeee;
}

.advantages__photo {
  display: block;
  width: 100%;
  height: auto;
}

.advantages__more {
  padding: 0 6.25% 37px 6.25%;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.advantages__logo-wrapper {
  padding-top: 25px;
  padding-right: 6px;
  width: 44px;
  min-width: 44px;
}

.advantages__item:nth-child(2) .advantages__logo-wrapper {
  padding-top: 15px;
  padding-left: 6px;
  padding-right: 0;
}

.advantages__item:nth-child(3) .advantages__logo-wrapper {
  margin-left: -2px;
  padding-right: 0;
}

.advantages__logo-house {
  width: 39px;
  height: 37px;
}

.advantages__logo-gift {
  width: 32px;
  height: 38px;
}

.advantages__logo-burger {
  width: 44px;
  height: 35px;
}

.advantages__item-desc {
  padding: 27px 0 0 5px;
  margin-left: 0;
  text-transform: uppercase;
}

.advantages__item:first-child .advantages__item-desc {
  margin-top: 7px;
}

.advantages__item:nth-child(3) .advantages__item-desc {
  padding-left: 8px;
}

.advantages__item-desc b {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.advantages__item-desc p {
  padding-top: 15px;
  font-weight: 440;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.hotels {
  padding: 29px 6.25% 48px 6.25%;
  text-align: center;
  text-transform: uppercase;
}

.hotels__title {
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotels__deals {
  padding: 18px 0 35px 0;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.hotels__search {
  width: 100%;
}

.hotels__search a {
  display: block;
  padding: 16px 0 16px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  cursor: pointer;
}

.hotels__search a:hover {
  background-color: #669ec0;
}

.hotels__search a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotels__search a:disabled {
  background-color: #e5e5e5;
}

.map {
  position: relative;
  max-width: 768px;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  z-index: 0;
  background-image: url("../img/bg-map-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  background-size: auto;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.map::after {
  content: "";
  position: absolute;
  top: 45.72%;
  left: 48.18%;
  width: 27px;
  height: 27px;
  z-index: -10;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-size: 27px 27px;
}

.footer {
  padding: 36px 6.25% 22px 6.25%;
  text-align: center;
}

.footer__tag {
  font-weight: 700px;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 37px;
}

.social__button {
  display: block;
  margin-right: 7px;
  padding-top: 15px;
  padding-left: 1px;
  width: 46px;
  height: 47px;
  background-color: #81b3d2;
}

.social__button:nth-child(2) {
  padding-top: 13px;
}

.social__button:last-child {
  margin-right: 0;
  padding-top: 12px;
}

.social__button:hover {
  background-color: #669ec0;
}

.social__button:active {
  background-color: #5496bd;
}

.social__button:active svg {
  fill: #88b6d1;
}

@media print, (min-width: 1200px) {
  html {
    background-color: #f2f2f2;
  }
  .main-page {
    min-width: 1200px;
    max-width: 1200px;
    -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}

@media print, (min-width: 768px) {
  .main-page {
    min-width: 768px;
  }
}

@media (min-width: 768px), print {
  .main-nav__menu,
  .main-nav--closed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: #ffffff;
  }

  .main-nav__item {
    display: inline-block;
    min-width: 19.53125%;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .main-nav__item:nth-child(3) {
    margin-left: auto;
  }

  .main-nav__item:last-child {
    margin-right: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .main-nav__item:hover,
  .main-nav__item:focus,
  .main-nav__item:focus:hover {
    background-color: #ffffff;
  }

  .main-nav__item:active {
    background-color: #ffffff;
  }

  .main-nav__item a {
    padding: 15px 25px 15px 20px;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }

  .main-nav__item a:link,
  .main-nav__item a:visited {
    color: #000000;
  }

  .main-nav__item a:hover,
  .main-nav__item a:active {
    color: #81b3d2;
  }

  .main-nav__item:first-child a {
    padding: 15px 49px 15px 49px;
  }

  .main-nav__item:nth-child(2) a {
    padding: 15px 29px 15px 29px;
  }

  .main-nav__item:nth-child(3) a {
    padding: 15px 27px 15px 30px;
  }

  .main-nav__item .main-nav__link--active {
    color: #000000;
  }

  .main-nav__opener {
    min-height: 57px;
    width: 102px;
    margin: 0 auto;
    margin-top: -56px;
  }

  .main-nav__open-button,
  .main-nav__close-button {
    display: none;
  }

  .header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .header--index {
    min-height: 517px;
  }

  .header--index::before {
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }

  .header--other {
    min-height: 289px;
  }

  .header--other::before {
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }
  .header__text {
    margin: 0 auto;
  }

  .header__text--index {
    width: 460px;
    height: 500px;
    background-size: 460px auto;
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }

  .header__text--other {
    width: 458px;
    height: 150px;
    background-size: 458px auto;
    -webkit-transform: translate(0, 42px);
    transform: translate(0, 42px);
  }

  .main-title::after {
    display: none;
  }

  .main-title__name {
    padding: 50px 20.83% 24px 20.83%;
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
  }

  .main-title__name--other {
    padding-top: 74px;
    padding-bottom: 31px;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 26px;
    color: #000000;
  }

  .main-title__desc--index {
    padding-top: 4px;
    padding-bottom: 50px;
  }

  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .advantages__reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
  }

  .advantages__photo-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 512px;
    flex: 0 0 512px;
    width: 512px;
    height: 256px;
  }

  .advantages > .advantages__reasons:nth-child(3) .advantages__photo-wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .advantages > .advantages__reasons:nth-child(3) .advantages__desc {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .advantages__desc {
    padding: 45px 45px 0 45px;
  }

  .advantages > .advantages__reasons:nth-child(1) .advantages__desc {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 45px;
  }

  .advantages > .advantages__reasons:nth-child(3) .advantages__desc {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 45px;
  }

  .advantages__reasons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
  }
  .advantages__reasons-wrapper > .advantages__reasons {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 33%;
  }

  .advantages__reasons-wrapper .advantages__desc {
    width: 100%;
  }

  .advantages__title {
    display: block;
    min-height: 52px;
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__reasons-wrapper .advantages__title {
    margin: 0 25px;
  }

  .advantages__total {
    padding-bottom: 21px;
  }

  .advantages__reasons-wrapper .advantages__info {
    padding-bottom: 44px;
    border-bottom: none;
  }

  .advantages__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 34px 0 37px 0;
  }

  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .advantages__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-right: 0;
  }

  .advantages__item:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .advantages__logo-wrapper {
    padding-top: 25px;
    width: 80px;
    min-width: 80px;
  }

  .advantages__item:nth-child(2) .advantages__logo-wrapper {
    padding-top: 15px;
    padding-left: 4px;
  }

  .advantages__item:nth-child(3) .advantages__logo-wrapper {
    margin-left: -2px;
    padding-bottom: 1px;
  }

  .advantages__logo-house {
    width: 75px;
    height: 72px;
    margin: 0 auto;
    margin-left: 1px;
  }

  .advantages__logo-gift {
    width: 64px;
    height: 75px;
    margin: 0 auto;
    margin-top: 8px;
    margin-left: 4px;
  }

  .advantages__logo-burger {
    width: 77px;
    height: 68px;
    margin: 0 auto;
    margin-top: 3px;
    margin-left: 2px;
  }

  .advantages__item-desc {
    width: 100%;
    height: 100%;
    padding: 23px 0 24px 0;
    margin: 0;
    text-align: center;
  }

  .advantages__item:first-child .advantages__item-desc {
    margin-top: 0;
  }

  .advantages__item:nth-child(3) .advantages__item-desc {
    padding-left: 2px;
  }

  .advantages__item-desc b {
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
  }

  .advantages__item-desc p {
    padding: 19px 44px 0 44px;
  }

  .hotels {
    padding: 56px 20.1823% 59px 20.1823%;
  }

  .hotels__title {
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 26px;
    color: #000000;
  }

  .hotels__deals {
    padding: 27px 0 42px 0;
  }

  .map {
    max-width: 1200px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }

  .map::after {
    top: 46.8%;
    left: 48.7%;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 36px 7.8125% 36px 7.8125%;
  }

  .footer__tag {
    padding-top: 10px;
  }

  .social {
    margin-top: 0;
    margin-right: 7px;
    z-index: 10;
  }
}

@media (min-width: 1200px), print {
  .main-nav__item:nth-child(2) a {
    padding: 15px 29px 15px 40px;
  }

  .main-nav__item:nth-child(3) a {
    padding: 15px 42px 15px 30px;
  }

  .main-nav__opener {
    width: 188px;
  }

  .main-nav__logo-wrapper {
    width: 188px;
  }

  .main-nav__logo {
    width: 188px;
    height: auto;
  }

  .header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .header--index {
    min-height: 517px;
  }

  .header--index::before {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  .header--other {
    min-height: 300px;
  }

  .header--other::before {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  .header__text--index {
    -webkit-transform: translate(0, -12px);
    transform: translate(0, -12px);
  }

  .header__text--other {
    -webkit-transform: translate(0, 51px);
    transform: translate(0, 51px);
  }

  .main-title__name {
    padding: 50px 30.833% 24px 30.833%;
  }
  .main-title__name--other {
    padding-top: 111px;
    padding-bottom: 31px;
  }

  .advantages > .advantages__reasons:nth-child(1) .advantages__desc {
    padding: 52px 65px 0 65px;
  }

  .advantages > .advantages__reasons:nth-child(3) .advantages__desc {
    padding: 53px 65px 0 65px;
  }

  .advantages__title {
    min-height: 0;
    padding: 0 50px;
  }

  .advantages__reasons-wrapper .advantages__info {
    padding-bottom: 65px;
  }

  .advantages__photo-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 800px;
    flex: 0 0 800px;
    width: 800px;
    height: 256px;
  }

  .advantages__photo {
    margin-top: -70px;
  }

  .advantages__more {
    padding: 34px 0 57px 0;
  }

  .advantages__item-desc p {
    padding: 20px 56px 0 56px;
  }

  .hotels {
    padding: 56px 30.833% 65px 30.833%;
  }

  .hotels__deals {
    padding: 27px 0 47px 0;
  }

  .map::after {
    top: 46.6%;
    left: 48.9%;
  }

  .footer {
    padding: 36px 3.5833% 36px 3.5833%;
  }

  .footer__tag {
    position: relative;
    left: 90px;
  }

  .photo {
    padding: 22px 0 0 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  .map {
    background-image: url("../img/bg-map-tablet@2x.jpg");
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5),
  (min-width: 768px) and (min-resolution: 144dpi),
  print and (-webkit-min-device-pixel-ratio: 1.5),
  print and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx),
  print and (min-resolution: 1.5dppx) {
  .header {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }

  .map {
    background-image: url("../img/bg-map-desktop@2x.jpg");
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5),
  (min-width: 1200px) and (min-resolution: 144dpi),
  print and (-webkit-min-device-pixel-ratio: 1.5),
  print and (min-resolution: 144dpi),
  (min-width: 1200px) and (min-resolution: 1.5dppx),
  print and (min-resolution: 1.5dppx) {
  .header {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
